@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic);

body {
  background-color: #f5f4f3;
  font-family: 'Open Sans',Lucida Grande,Tahoma,Verdana,Geneva,sans-serif;

}

.main-content {
    width: 90%;
    max-width: 1000px;
    margin: 100px auto 0;
    text-align: center;

}

h3 {
  
  text-transform: uppercase;
  font-weight: 100;
  font-size: 30px;
}

h3, h4 {
  color: #303030;
  font-family: 'Open Sans Condensed',Lucida Grande,Tahoma,Verdana,Geneva,sans-serif;
}

img.logo {
  width: 300px;
  max-width: 100%;
  margin: 50px 0;
}





@media only screen and (max-device-width: 1024px)
{
	
}
